$accent-color: #2F3165;
$accent-color-new: rgba(47, 47, 102, 0.6);;

$hover-color: #008FD0;
$green: #32CD86;
$white: #fff;
$gray: #8CA1AC;
$text-color:  #404040;
$border-color: #c7c7c7;

$green-new: #32CD86;
$font-size: 17px;
$font: 'Roboto', sans-serif;
$font-2: 'Navigo', sans-serif;
$font-3: 'Open Sans', sans-serif;
